<!DOCTYPE html>
<html>
<head>
	<title>
		WebList
	</title>
	<link rel="stylesheet" type="text/css" href="../public/CSS/sheet.css">
	<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: no-preference)" href="../public/CSS/lightColorSheet.css">
	<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: light)" href="../public/CSS/lightColorSheet.css">
	<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: dark)" href="../public/CSS/darkColorSheet.css">
	<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/navSheet.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<script src="https://unpkg.com/scrollreveal"></script>

	<link rel="icon" href="../public/IMG/DeepTure.ico">
	<link rel="shortcut icon" href="../public/IMG/DeepTure.ico"> 

	<meta charset="utf-8">
</head>
<body>
	<style type="text/css">
		@media (min-width: 600px) {
			#navbar.active{
				width: 14rem;
			}
		}
	</style>
	<nav class="addShadow navegation" id="header">
        <article class="addLeftMargin">
			<img src="../public/IMG/WebListLogo.png" class="navImg">
			<p class="titleFont addLeftMargin alignMiddle">
				WebList Project
			</p>
		</article>

        <div class="navImg" id="toggle"></div>
        <div class="navImg" id="navbar">
            <ul>
                <li>
                	<!-- Se tiene que cambiar segun el usuario -->
                	<a href="/home">
                		Volver
                	</a>
                </li>
				<li>
                	<a href="/logout">
                		Cerrar sesión
                	</a>
                </li>
            </ul>
        </div>
    </nav>
    <script src="../public/JS/nav.js"></script>


	<div>
		<section class="defaultSectionSize autoManageSpaced addShadow editBox">
			<!-- Izquierda -->
			<section class="squareSectionSizeLW addTopMarginAlt addShadow">
				<p class="titleFont addTopMargin centerText">
					Perfil
				</p>
				<p class="bodyFont addTopMargin addLeftMargin addRightMargin centerText dashedBorder fillSpaceAlt submit">
					<br><br><br><br>
					Matricula (ID): <%= id %>
					<br><br>
					Correo: <%= usuario[0].email %>
					<br><br>
					Nombre: <%= usuario[0].nombre %>
					<br><br>
					Apellido paterno: <%= usuario[0].app %>
					<br><br>
					Apellido materno: <%= usuario[0].apm %>
				</p>
			</section>
			
			<section class="squareSectionSizeLW  addTopMarginAlt">
				<p class="titleFont addLeftMarginAlt">
					Editar datos
				</p>
                
                <section class="squareSectionSize addLeftMarginAlt dottedBorder fillSpace">
					<form action="/home/perfil/change" method="post">
                        <p class="bodyFont addLeftMargin">
                            <br>	
                            Cambiar contraseña
                            <br>
                            <br>
                            <div class="bodyFont">
                                <img class="inputIcon" src="../public/IMG/key.png">
                                <input class="bodyFont fullLargeInput" id="pass" type="password" name="password" placeholder="Nueva contraseña">
                            </div>
                            <br>
                            <div class="bodyFont">
                                <img class="inputIcon" src="../public/IMG/key.png">
                                <input class="bodyFont fullLargeInput" id="conpass" type="password" name="confirmPassword" placeholder="Confirmar contraseña">
                            </div>
                        </p>
                        <p class="bodyFont addLeftMargin">
                            <br>	
                            Cambiar correo electrónico
                            <br>
                            <br>
                            <div class="bodyFont">
                                <img class="inputIcon" src="../public/IMG/mail.png">
                                <input class="bodyFont fullLargeInput" id="correo" type="text" name="email" placeholder="Correo electrónico">
                            </div>
                        </p>
                        <p class="bodyFont centerText">
                            <br><br><br><br>
							<input class="bodyFont buttonInput fullLargeButton submit" type="button" id="digSign" name="login" value="Descargar firma digital">
							<br><br>
                            <input class="buttonInput fullLargeButton submit" id="changedata" type="button" name="profile" value="Modificar">
                        </p>
					</form>
				</section>
			</section>
		</section>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="../public/JS/profile.js"></script>
	<script src="../public/JS/toGeneral.js"></script>
	<script>
        ScrollReveal().reveal('.navegation',{delay:500, origin:'left', distance:'300px'});
        ScrollReveal().reveal('.editBox',{delay:500, origin:'right', distance:'300px'});
    </script>
</body>
</html>